Magic 271485
Revision 5.4v9

; Window Layout <x> <y> <width> <height> <signalwidth> <valuewidth>
viewPort -8 -8 1554 916 142 50

; File list:
; openDirFile [-d delimiter] [-s time_offset] [-rf auto_bus_rule_file] path_name file_name
openDirFile -d / "" "E:\BYSG\BYSG_try\lite_lite_beta_0.002\vsim_MCB_DAT_FF_tb\MCB_DAT_FF_tb.fsdb"

; file time scale:
; fileTimeScale ### s|ms|us|ns|ps

; signal spacing:
signalSpacing 3

; windowTimeUnit is used for zoom, cursor & marker
; waveform viewport range
zoom 0.000000 1320.000000
cursor 150.000000
marker 0.000000

; user define markers
; userMarker time_pos marker_name
; visible top row signal index
top 0
; marker line index
markerPos 12

; event list
; addEvent event_name event_expression
; curEvent event_name



COMPLEX_EVENT_BEGIN


COMPLEX_EVENT_END



; toolbar current search type
; curSTATUS search_type
curSTATUS ByChange


addGroup "G1"
activeDirFile "" "E:\BYSG\BYSG_try\lite_lite_beta_0.002\vsim_MCB_DAT_FF_tb\MCB_DAT_FF_tb.fsdb"
addSignal -h 15 /MCB_DAT_FF_tb/mcb_clk
addSignal -h 15 -holdScope mcb_rst_n
addSignal -h 15 -holdScope mcb_sclr_n
addSignal -h 15 -UNSIGNED -HEX -holdScope mcb_wdat[15:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope mcb_rdat[15:0]
addSignal -h 15 -holdScope d_dp_ie
addSignal -h 15 -holdScope d_dp_oe
addSignal -h 15 -holdScope d_wr_ld
addSignal -h 15 -UNSIGNED -HEX -holdScope dbf_dq_i[15:0]
addSignal -h 15 -holdScope dbf_dq_ie
addSignal -h 15 -UNSIGNED -HEX -holdScope dbf_dq_o[15:0]
addSignal -h 15 -holdScope dbf_dq_oe
addGroup "G2"

; grid status
; gridSignal signal_name
; gridEdge 0 | 1
; gridCount
; gridCycleTime from to cycleTime

; getSignalForm Scope Hierarchy Status
; active file of getSignalForm
activeDirFile "" "E:\BYSG\BYSG_try\lite_lite_beta_0.002\vsim_MCB_DAT_FF_tb\MCB_DAT_FF_tb.fsdb"

GETSIGNALFORM_SCOPE_HIERARCHY_BEGIN
getSignalForm close

"/MCB_DAT_FF_tb"

SCOPE_LIST_BEGIN
"/MCB_DAT_FF_tb"
SCOPE_LIST_END

GETSIGNALFORM_SCOPE_HIERARCHY_END


